@import "assets/styles/variables.scss";

.cell {
  &_btn_link {
    text-decoration: underline;
    padding: 9px 16px;
    background-color: #F3F5FF;
    color:#7C859E;
    text-decoration: none;
    border-radius: 8px;
    // color: $color-blue;
    font-weight: 500;

    &:hover{
      background-color: rgba(239, 233, 233, 0.484);
    }
  }

  &_block_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    button{
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: unset!important;
      // display: -webkit-box;

    }
  }
}

.loader {
  position: absolute;
  text-align: center;
  top: -25px;
  left: 0px;
}