@import "assets/styles/variables.scss";

.cell {
  &_btn_link {
    text-decoration: underline;
    color: $color-green;
  }

  &_block_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.loader {
  position: absolute;
  text-align: center;
  top: -25px;
  left: 0px;
}