@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_arrow_button {
  transform: rotate(180deg);
}

