@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';
@import 'assets/styles/function.scss';

.storageFile__file {
	grid-area: info;
	margin-top: 20px;
	height: 92%;

	h1 {
		margin-bottom: 20px;
	}
}

.storageFile__item {
	font-size: 20px;
	font-weight: 700;
	color: $color-grey;
	display: flex;
	gap: 10px;

	a, span {
		font-weight: 500;
		font-size: 20px;
	}
}

.storageFile__wrapper {
	position: relative;
	padding: 10px 15px;
	background-color: $color-white;
	box-shadow: -10px 56px 140px 0px #8F9BBA33;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	

	@include media-breakpoint-up(lg) {
		padding: 30px;
	}

	@include media-breakpoint-up(xl) {
		padding: 20px;
		height: 96%;
	}

	@include media-breakpoint-up(fhd) {
		padding: 44px 40px;
		height: 100%;
	}
}

.storageFile__edit {
	position: relative;
	padding: 20px;
	border: 1px solid $color-green;
	border-radius: 16px;
	max-height: 405px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 20px;
	scroll-behavior: smooth;

	@include greenScrollbar();

	&_item {
		&:not(:last-of-type) {
			padding-bottom: 20px;
			border-bottom: 2px solid $color-grey2;
		}
	}
}

.radio_buttons {
	flex-direction: column;
	gap: 5px;
}

.storageFile__buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	gap: 30px;
	margin-top: auto;

	@include media-breakpoint-up(lg) {
		padding-top: 10px;
	}

	@include media-breakpoint-up(xxxl) {
		padding-top: 30px;
	}

	& > {
		button {
			width: 100%;
			text-wrap: wrap;
			padding: 15px 20px;
			height: fit-content;
			@include font-20();
		}
	}
}

.storageFile__control_buttons {
	display: flex;
	border-radius: 8px;
	border: 1px solid $color-green;

	.button {
		border-radius: 0;
		border: 1px solid transparent;
	}
}

.storageFile__item_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	border-top: 1px solid $color-green;
	padding-top: 40px;
	color: $color-grey;

	@include media-breakpoint-up(xxl) {
		margin-top: vw(10, 1440);
	}

	@include media-breakpoint-up(xxxl) {
		margin-top: vw(140, 1660);
	}

	@include media-breakpoint-up(fhd) {
		margin-top: vw(180);
	}
}

.storageFile__item_date {
	display: flex;
	justify-content: space-between;

	&_item {
		display: flex;
		flex-direction: column;
		gap: 24px;
		font-size: 20px;
		font-weight: 700;

		span {
			font-weight: 500;
		}
	}
}

.storageFile__item_info {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 500;

	&:nth-child(2) {
		@include media-breakpoint-up(xxl) {
			margin-top: vw(80, 1440);
		}

		@include media-breakpoint-up(xxxl) {
			margin-top: vw(140, 1660);
		}

		@include media-breakpoint-up(fhd) {
			margin-top: vw(140);
		}
	}
	&:nth-child(3) {
		margin-top: 24px;
	}

	span {
		color: $color-black2;
	}
}

.storageFile__item_button {
	color: $color-green;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 500;
}

.download_button {
	width: 100%;
}
