@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';
@import 'assets/styles/function.scss';

.storageFile__file {
	grid-area: info;
	// margin-top: 10px;
	// height: 92%;

	@include media-breakpoint-up(fhd) {
		// margin-top: 20px;
	}
}

.storageFile__item {
	font-weight: 700;
	color: $color-grey;
	display: flex;
	gap: 10px;

	@include adaptive-font-size-static(14, 16, 16, 16, 20);

	@include media-breakpoint-up(xxl) {
		line-height: 20px;
	}

	@include media-breakpoint-up(fhd) {
		line-height: 24px;
	}

	a, span {
		font-weight: 500;
		overflow-wrap: anywhere;
	}

	&:nth-child(-n + 2) {
		span {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
}

.fieldPlaceholder{
	font-size: 22px;
	color:#0F0F0F;
	font-weight: 700!important;
	line-height: 1.2;
}
.storageFile__wrapper {
	position: relative;
	// padding: 10px 15px 16px;
	// background-color: $color-white;
	// box-shadow: -10px 56px 140px 0px #8F9BBA33;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-bottom: 30px;
	margin-top: 30px;

	// @include media-breakpoint-up(md) {
	// 	// padding: 30px 30px 20px;
	// 	row-gap: 34px;
	// 	// flex-direction: row;
	// 	flex-wrap: wrap;

	// 	.storageFile__item {
	// 		// width: 50.5%;
	// 		&:nth-child(1) {
	// 			width: 100%;
	// 		}
	// 	}
	// }
	

	// @include media-breakpoint-up(lg) {
	// 	// padding: 30px;
	// }

	// @include media-breakpoint-up(xl) {
	// 	// padding: 20px;
	// }

	// @include media-breakpoint-up(xxl) {
	// 	// height: 96%;
	// 	flex-wrap: nowrap;
	// 	flex-direction: column;
	// 	margin-bottom: 0;
	// 	gap: 33px;

	// 	.storageFile__item {
	// 		width: 100%;
	// 	}
	// }

	// @include media-breakpoint-up(fhd) {
	// 	// padding: 44px 40px 20px;
	// 	height: 100%;
	// }
}

.storageFile__edit {
	position: relative;
	padding: 20px;
	border: 1px solid $color-blue;
	border-radius: 16px;
	max-height: 405px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 20px;
	scroll-behavior: smooth;

	@include greenScrollbar();

	&_item {
		&:not(:last-of-type) {
			padding-bottom: 20px;
			border-bottom: 2px solid $color-grey2;
		}
	}
}

.radio_buttons {
	flex-direction: column;
	gap: 5px;
}

.storageFile__buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
	gap: 30px;
	margin-top: auto;
	
	*{
		flex: 1;
	}

	// @include media-breakpoint-up(md) {
	// 	gap: 20px;
	// 	width: 52%;
	// 	margin-left: auto;
	// }

	// @include media-breakpoint-up(lg) {
	// 	padding-top: 10px;
	// 	width: auto;
	// 	margin-left: 0;
	// }

	// @include media-breakpoint-up(xxxl) {
	// 	padding-top: 30px;
	// }

	& > {
		button {
			width: 100%;
			text-wrap: wrap;
			height: fit-content;
			// @include font-20();
		}
	}
}

.storageFile__control_buttons {
	display: flex;
	border-radius: 8px;
	border: 1px solid $color-blue;

	.button {
		border-radius: 0;
		border: 1px solid transparent;
	}
}

.storageFile__item_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	color: $color-grey;
	margin-top: 30px;

	// @include media-breakpoint-up(md) {
	// 	margin-top: -50px;
	// 	border-left: 1px solid $color-blue;
	// 	padding-left: 30px;
	// 	width: 49.5%;
	// }

	// @include media-breakpoint-up(xxl) {
	// 	margin-top: vw(100, 1440);
	// 	padding-top: 20px;
	// 	border-top: 1px solid $color-blue;
	// 	border-left: none;
	// 	padding-left: 0;
	// 	width: 100%;
	// }

	// @include media-breakpoint-up(xxxl) {
	// 	margin-top: vw(140, 1660);
	// }

	// @include media-breakpoint-up(fhd) {
	// 	margin-top: vw(160);
	// 	padding-top: 40px;
	// }
}

.storageFile__item_date {
	display: flex;
	justify-content: space-between;

	&_item {
		display: flex;
		flex-direction: column;
		font-weight: 700;
		gap: 20px;
		white-space: nowrap;

		// @include adaptive-font-size-static(14, 16, 16, 16, 20);

		// @include media-breakpoint-up(md) {
		// 	gap: 15px;
		// }

		// @include media-breakpoint-up(xxl) {
		// 	gap: 24px;
		// }

		// span {
		// 	font-weight: 500;
		// 	white-space: initial;
		// }
	}
}

.storageFile__item_info {
	display: flex;
	justify-content: space-between;
	// @include adaptive-font-size-static(14, 16, 16, 16, 20);
	font-weight: 500;

	&:nth-child(2) {
		margin-top: 40px;

		// @include media-breakpoint-up(md) {
		// 	margin-top: 30px;
		// }

		// @include media-breakpoint-up(xxl) {
		// 	margin-top: vw(90, 1440);
		// }

		// @include media-breakpoint-up(xxxl) {
		// 	margin-top: vw(140, 1660);
		// }

		// @include media-breakpoint-up(fhd) {
		// 	margin-top: vw(140);
		// }
	}
	&:nth-child(3) {
		margin-top: 10px;

		// @include media-breakpoint-up(md) {
		// 	margin-top: 15px;
		// }

		// @include media-breakpoint-up(xxl) {
		// 	margin-top: 24px;
		// }
	}

	span {
		color: $color-black2;
	}
}

.storageFile__item_button {
	max-width:  auto;
	text-overflow: ellipsis;
	overflow: hidden;

	color: $color-blue;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;

	@include media-breakpoint-up(lg) {
		font-size: 16px;
	}

	@include media-breakpoint-up(xxxl) {
		font-size: 20px;
	}
}

.download_button {
	width: 100%;

	&.disabled {
		background-color: $color-grey;
		pointer-events: none;
	}
}


.storageFile__file_head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;

	@include media-breakpoint-up(md) {
		margin-bottom: 26px;
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 20px;
	}

	& > h1 {
		@include adaptive-font-size-static(18, 32, 32, 32, 38);
	}
}

.storageFile__data_btn {
	width: 100%;
	height: fit-content;
	max-width: 150px;

	@include media-breakpoint-up(lg) {
		max-width: 240px;
	}
	
	@include media-breakpoint-up(xxl) {
		display: none;
	}
}

.tooltip {
	background-color: $color-white !important;
	padding: 15px !important;
	border-radius: 8px !important;
	border: 1px solid $color-grey2 !important;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	color: $color-black !important;
	word-break: break-all;
	max-width: 100%;
	z-index: 2;
}


.storageFile_table{
	&_wrapper{
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		// min-height: 300px;
		// background-color: red;
	}
	&_item{
		display: flex;
		padding: 17px 0;
		font-size: 16px;
		color:#7C859E;
		line-height: 1.5;
		justify-content: space-between;
		gap:10px;
		align-items: center;
		border-bottom: 1px solid #F3F5FF;
		&:first-of-type{
			border-top: 1px solid #F3F5FF;
		}


		&_col{
			
		}

		&_titleCol{
			overflow-wrap: anywhere;
		}

		&_infoCol{
			text-align: right;
			// max-width: 70%;
			overflow-wrap: anywhere;
		}
	}



}

.fileHead{
	display: flex;
	flex-direction: column;
	gap: 20px
}

.dataSize{
	padding: 5px 11px;
	background-color: #F3F5FF99;
	border-radius: 16px;
}

.ownerButton{
	padding: 9px 11px;
	background-color: #F3F5FF99;
	border-radius: 8px;
}

.dataCoreTitle{
	color:#7C859E!important
}


.status_span{
	display: flex;
	align-items: center;
	gap:10px;
	flex-wrap: wrap;
}


.openSourcedStatus{
	color:#3AB393;
	span {
		
	}
}

.otherStatus{
	color:#7C859E;
}

.accessGrantedStatus{
	color:#3AB393;
}

.permissionNeededStatus{
	color:#E0A32C;
}

.accessRequestPendingStatus{
	color:#7C859E;
}

.storageFile_like_wrapper {
	display: flex;
	gap: 10px;
}
