@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
  flex-wrap: wrap;

  font-size: 16px;
  color: $color-grey;
  font-weight: 400;

  @include desktop1440 {
    font-size: 14px;
  }

  @include desktop1024 {
    font-size: 14px;
  }

  button {
    &:first-child {
      transform: rotate(180deg);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .25;
    }
  }
}
