@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.signin__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 36px 0 40px;
	width: 100%;

	@include desktop1440 {
		margin: 25px 0 10px;
	}

  @include desktop1024 {
		margin: 50px 0 10px;
	}

  @include mobile {
    margin: 32px 0 10px;
  }

	h4 {
		color: $color-grey;
		margin-bottom: 38px;

		@include desktop1440 {
			margin-bottom: 20px;
		}
	
		@include desktop1024 {
			margin-bottom: 50px;
		}
	
		@include mobile {
			margin-bottom: 30px;
		}
	}

	p {
		color: $color-grey;
	}
}

.button_connect {
	position: relative;
	margin-bottom: 15px;
	width: 100%;

	@include mobile {
		margin-bottom: 10px;
	}

	& > div {
		
		display: flex;
		align-items: center;

		img {
			position: absolute;
			right: 15px;
			width: 24px;
			height: 24px;

			@include mobile {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.description_wallet {
	text-align: center;
	margin-bottom: 35px;

	@include mobile {
		font-size: 14px;
	}
}

.description {
	width: 100%;
	margin-bottom: 35px;

	@include mobile {
		font-size: 14px;
	}
}

.input__container {
	margin-bottom: 20px;

	@include mobile {
		margin-bottom: 8px;
	}
}

.forgot_password {
	margin-bottom: 46px;
	width: 100%;

	button {
		color: $color-green;
		text-decoration: underline;
		margin-left: 4px;
	}

	@include mobile {
		font-size: 14px;
		margin-bottom: 36px;
	}
}

.button {
	margin-bottom: 20px;
	width: 100%;
	max-width: 280px;

	@include desktop1440 {
		max-width: 190px;
	}

	@include desktop1024 {
		max-width: 220px;
	}

	@include mobile {
		max-width: 165px;
		margin-bottom: 14px;
	}
}

.footer_text {
	@include mobile {
		font-size: 14px;
	}
	a {
		margin-left: 4px;
	}
}
