@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.dnd {
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='%2300DEA3FF' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 40px;
    padding: 20px 0;
    width: 55%;

    @include desktop1440 {
      padding: 0;
      background-image: none;
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px 50px;
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: -10px 56px 140px 0px #8f9bba33;

    @include desktop1440 {
      flex-direction: column;
      padding: 15px 30px 43px;
    }

    @include tablet1024 {
      padding-bottom: 104px;
    }

    @include mobile {
      padding: 10px 15px 90px;
    }
  }

  &_title,
  &_text {
    font-size: 32px;

    @include desktop1440 {
      font-size: 24px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &_title {
    align-self: flex-start;

    @include desktop1440 {
      margin-bottom: 26px;
    }

    @include tablet1024 {
      margin-bottom: 66px;
    }
  }

  &_text {
    margin-bottom: 18px;
    text-align: center;
    font-weight: 700;
    color: $color-grey;

    @include desktop1440 {
      margin-bottom: 45px;
    }

    @include tablet1024 {
      margin-bottom: 41px;
    }

    @include mobile {
      margin-bottom: 17px;
    }
  }

  &_input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &_img {
    width: 70px;
    height: 70px;

    @include mobile {
      height: 40px;
      width: 40px;
    }
  }
}

.dragOver {
  background-color: rgba($color-green, 0.3);
}

.mock {
  width: 154.5px;
}
