@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$border-radius: 8px;

.table {
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
    tr {
      min-height: 73px;

      @include desktop1440 {
        min-height: 60px;
      }
    }
  }

  &_block_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include desktop1280 {
      flex-direction: column;
    }
  }

  &_provide {
    background-color: $color-green;
    color: #fff;
  }

  &_decline {
    background-color: $color-grey2;
    color: #fff;
  }

  &_provide,
  &_decline {
    height: 40px;
    width: 130px;
    border-radius: $border-radius;

    @include desktop1440 {
      height: 30px;
      width: 90px;
    }
  }
}

.requesterMobile {
  color: #747474 !important;
  font-weight: 500 !important;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.containerLoader {
  @include containerLoader();
}