@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.new_password__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 54px 0 24px;
	width: 100%;

	@include desktop1440 {
		margin: 25px 0 10px;
	}

  @include desktop1024 {
		margin: 50px 0 10px;
	}

  @include mobile {
    margin: 38px 0 0;
  }

	p {
		color: $color-grey;
	}
}

.description {
	width: 100%;
	margin-bottom: 50px;
	text-align: center;

	@include mobile {
		margin-bottom: 32px;
		font-size: 14px;
	}
}

.input__container {
	margin-bottom: 24px;

	&:nth-child(3) {
		margin-bottom: 34px;
	}

	@include mobile {
		margin-bottom: 10px;
	}
}

.button {
	width: 100%;
	max-width: 280px;

	@include desktop1440 {
		max-width: 190px;
	}

	@include desktop1024 {
		max-width: 220px;
	}

	@include mobile {
		max-width: 165px;
	}
}
