@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.community_button {
  	display: flex;
	align-items: center;
	gap: 10px;
	padding: 4px 14px;
	font-weight: 500;
	color: $color-grey;
  	
	border: 1px solid $color-grey;
	transition: background-color .3s;

	&:hover {
		background-color: rgba($color-blue, .35);
	}

	&:disabled {
		background-color: rgba($color-grey, .15);
	}

	svg {
		width: 14px;
		height: 14px;
		fill: $color-grey;
	}

	@include media-breakpoint-up(lg) {
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&.dislikedPopular {
		background-color: rgba(239, 233, 233, 0.484)!important;
		// rgba($color-red, .15);
	}

	&.dislike {
		svg {
			transform: scaleX(-1) rotate(180deg);
		}

		&:hover {
		background-color: rgba($color-red, .35);
		}

		&:disabled {
			background-color: rgba($color-grey, .15);
		}

		&.disliked {
			border: 1px solid $color-red;

			svg {
				fill: $color-red;
			}

			&:hover {
				background-color: rgba($color-red, .35);
			}
		}
	}

	&.liked {
    border: 1px solid $color-green;

		svg {
			fill: $color-green;
		}
	}

	&.likedPopular {
		background-color: rgba($color-green, .15);
	}
}


.tooltipWrap{
	position: absolute;
	top: 0;
	right: -3px;
	transform: translate(0% ,-15%);
	display: inline-flex;
	z-index: 1;
	// left: 18px;
}
.mark{
	display: inline-flex;
	padding-right: 5px;
}

.tooltip{
	display: none;
	position: absolute;
	left: calc(100% + 0px);
	top: 50%;
	max-width: 300px;
	transform: translateY(-50%);
	background-color: aliceblue;
	padding: 10px;
	border-radius: 5px;
	font-size: 11px;
	&:hover{
		display: block;
	}
}

.mark:hover ~ .tooltip{
	display: block;
}


.btnWrap{
	position: relative;
}