@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.community_button {
  display: flex;
	align-items: center;
	gap: 10px;
	padding: 4px 14px;
	font-weight: 500;
	color: $color-grey;
	border-radius: 8px;
	border: 1px solid $color-grey;
	transition: background-color .3s;

	&:hover {
		background-color: rgba($color-blue, .35);
	}

	&:disabled {
		background-color: rgba($color-grey, .15);
	}

	svg {
		width: 14px;
		height: 14px;
		fill: $color-grey;
	}

	@include media-breakpoint-up(lg) {
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&.dislikedPopular {
		background-color: rgba($color-red, .15);
	}

  &.dislike {
		svg {
			transform: scaleX(-1) rotate(180deg);
		}

    &:hover {
      background-color: rgba($color-red, .35);
    }

		&:disabled {
			background-color: rgba($color-grey, .15);
		}

		&.disliked {
			border: 1px solid $color-red;

			svg {
				fill: $color-red;
			}

			&:hover {
				background-color: rgba($color-red, .35);
			}
		}
	}

	&.liked {
    border: 1px solid $color-green;

		svg {
			fill: $color-green;
		}
	}

	&.likedPopular {
		background-color: rgba($color-green, .15);
	}
}
