@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.authWrapper_container {
  position: relative;
  
  background-color: $color-white;
  box-shadow: -10px 56px 140px 0px rgba(143, 155, 186, 0.2);
  backdrop-filter: blur(9.5px);
  
  border-radius: 16px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 25px 40px;
  
  max-width: 650px;
  width: 100%;

  & > img {
    width: 210px;
    height: 50px;
  }

  @include desktop1440 {
		padding: 25px 30px;
    max-width: 470px;

    & > img {
      width: 188px;
      height: 48px;
    }
	}

  @include desktop1024 {
		padding: 25px 40px;
    max-width: 650px;

    & > img {
      width: 188px;
      height: 48px;
    }
	}

  @include mobile {
    padding: 25px 15px;
    margin: 0 15px;

    & > img {
      width: 116px;
      height: 28px;
    }
  }
}

.button {
  position: absolute;
  top: 24px;
  left: 38px;
  transform: rotate(180deg);
  
  & > img {
    width: 24px;
    height: 24px;
  }

  @include mobile {
    left: 12px;
  }
}
