@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  // align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 0px!important;
  .bigStar{

  }

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    gap: vw(30, 1024);
    // margin-top: vw(40, 1024);
  }

  @include media-breakpoint-up(xxl) {
    // margin-top: vw(10, 1440);
    gap: vw(30, 1440);
  }

  @include media-breakpoint-up(fhd) {
    // margin-top: vw(40);
    gap: vw(30);
  }

  .footer_list{
    gap:22px;
    display: flex;
    flex-direction: column;
  }

  &_list {
    list-style-type: none;

    & > li {
      display: flex;

      color: rgba(124, 133, 158, 0.5);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.256px;
      margin-bottom: 2px;

      @include mobile {
        font-size: 12px;
      }

      span {
        color: $color-blue;
        margin-right: 4px;
      }
    }

    &_edit {
      // max-width: 804px;

      @include mobile {
        order: 3;
      }
    }
  }

}
