@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.registration__container {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 140px 0;

	@include desktop1440 {
		margin: 100px 0;
	}
}
