@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.confirmEmail__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px 0 10px;

	@include desktop1440 {
		margin: 40px 0 10px;
	}

	@include desktop1024 {
		margin: 50px 0 10px;
	}

	@include mobile {
		margin: 24px 0 10px;
	}

	p {
		text-align: center;
	}
}

.description {
	margin-bottom: 65px;
	@include font-size;

	@include desktop1440 {
		margin-bottom: 40px;
	}

	@include desktop1024 {
		margin-bottom: 52px;
	}

	@include mobile {
		margin-bottom: 24px;
	}
}

.button {
	margin: 56px 0 20px;
	padding: 15px 60px;

	@include desktop1440 {
		margin: 35px 0 15px;
		padding: 14px 30px;
	}

	@include desktop1024 {
		margin: 56px 0 0px;
		padding: 12px 40px;
	}

	@include mobile {
		margin: 25px 0 0px;
		padding: 8px 27px;

		width: 165px;
		height: 30px;
	}

	&_margin {
		margin-top: 18px;

		@include desktop1024 {
			margin-top: 26px;
		}
	}
}

.containerInputs {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 290px;

	@include mobile {
		min-width: 210px;
	}

	.otp_container {
		max-width: 375px;
		margin-bottom: 15px;
	
		@include desktop1440 {
			max-width: 290px;
		}

		@include desktop1024 {
			max-width: 290px;
		}
	
		@include mobile {
			max-width: 210px;
			margin-bottom: 10px;
		}

		@media screen and (min-width: 1440px) {
			width: 375px;
		}
	}
	
	.resender {
		align-self: flex-start;
	}
}

.error {
	color: $color-error;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
}
