@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .title{
    font-weight: 700;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    width: 100%;
    gap: 21px; 

    .confirm {
      width: 100%;
    }
    .cancel {
      width: 100%;
    }
  }
}