@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.storageFile__file {
	grid-area: info;
	margin-top: 20px;

	h1 {
		margin-bottom: 20px;
	}
}

.storageFile__item {
	font-size: 20px;
	font-weight: 700;
	color: $color-grey;
	display: flex;
	gap: 10px;

	&:nth-child(3) {
		justify-content: space-between;
	}

	a, span {
		font-weight: 500;
		font-size: 20px;
	}
}

.storageFile__wrapper {
	padding: 44px 40px;
	background-color: $color-white;
	box-shadow: -10px 56px 140px 0px #8F9BBA33;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.storageFile__edit {
	position: relative;
	padding: 20px;
	border: 1px solid $color-green;
	border-radius: 16px;
	max-height: 405px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 20px;
	scroll-behavior: smooth;

	@include greenScrollbar();

	&_item {
		&:not(:last-of-type) {
			padding-bottom: 20px;
			border-bottom: 2px solid $color-grey2;
		}
	}
}

.radio_buttons {
	flex-direction: column;
	gap: 5px;
}

.storageFile__buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2px;
	margin-top: 30px;

	& > {
		button {
			width: 100%;
			max-width: 230px;
			text-wrap: wrap;
			padding: 5px 20px;
			font-size: 20px;
		}
	}
}

.storageFile__control_buttons {
	display: flex;
	border-radius: 8px;
	border: 1px solid $color-green;

	.button {
		border-radius: 0;
		border: 1px solid transparent;
	}
}
