@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.storageFile__file {
	grid-area: info;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 92%;

	h1 {
		margin-bottom: 20px;
	}
}

.storageFile__item {
	font-weight: 700;
	color: $color-grey;
	display: flex;
	align-items: center;
	gap: 10px;
	@include font-20();

	&:nth-child(3) {
		justify-content: space-between;
	}

	a, span {
		font-weight: 500;
		@include font-20();
	}
}

.storageFile__item_input {
	height: fit-content;
	display: flex;
	flex: 2;

	&_box {
		height: 28px !important;
		width: 100%;
	}
}

.storageFile__wrapper {
	position: relative;
	padding: 10px 15px;
	background-color: $color-white;
	box-shadow: -10px 56px 140px 0px #8F9BBA33;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	@include media-breakpoint-up(lg) {
		padding: 30px;
	}

	@include media-breakpoint-up(xl) {
		padding: 20px;
		height: 94%;
	}

	@include media-breakpoint-up(fhd) {
		padding: 44px 40px;
	}
}

.storageFile__edit {
	position: relative;
	padding: 20px;
	border: 1px solid $color-green;
	border-radius: 16px;
	max-height: 376px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 20px;
	scroll-behavior: smooth;

	@include media-breakpoint-up(lg) {
		max-height: 240px;
	}

	@include media-breakpoint-up(xl) {
		max-height: 220px;
	}

	@include media-breakpoint-up(fhd) {
		max-height: 405px;
	}

	@include greenScrollbar();

	&_item {
		&:not(:last-of-type) {
			padding-bottom: 20px;
			border-bottom: 2px solid $color-grey2;
		}
	}
}

.radio_buttons {
	flex-direction: column;
	gap: 5px;
}

.storageFile__buttons {
	grid-area: buttons;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2px;
	margin-top: auto;
	height: fit-content;
	row-gap: 10px;
	padding-top: 10px;

	& > {
		button {
			width: 100%;
			max-width: 105px;
			white-space: break-spaces;
			padding: 5px 20px;
			@include font-20();

			@include media-breakpoint-up(lg) {
				max-width: 160px;
			}
		
			@include media-breakpoint-up(xl) {
				max-width: 160px;
			}
		
			@include media-breakpoint-up(fhd) {
				max-width: 230px;
			}
		}
	}
}

.storageFile__control_buttons {
	display: flex;
	border-radius: 8px;
	border: 1px solid $color-green;

	.button {
		border-radius: 0;
		border: 1px solid transparent;
	}
}

.storageFile__download_xlsx {
	margin-left: auto;
	padding: 10px;
}
