@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.button_back__container {
  grid-area: back;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  color: $color-blue;

  font-size: 22px;
  font-weight: 500;
  transition: all .3s;
  img {
    transition: transform .3s;
  }

  &:hover {
    img {
      transform: translateX(0px);
      animation: backAnimation .8s ease-out infinite alternate-reverse
      // transform: translateX(-6px);
    }
  }

  @keyframes backAnimation {
    100%{
      transform: translateX(0px);
    }
    0%{
      transform: translateX(-6px);
    }
  }
}
