@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

@mixin margin-right($mr1, $mr2, $mr3) {
  margin-right: $mr1;

  @include desktop1440 {
    margin-right: $mr2;
  }

  @include mobile {
    margin-right: $mr3;
  }
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 16px;
  color: $color-grey;

  @include desktop1440 {
    margin-bottom: 13px;
    font-size: 14px;
  }

  @include mobile {
    margin-bottom: 24px;
    font-size: 12px;
  }

  &_filename_block {
    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_filename {
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid $color-grey;
    @include mobile {
      padding: 0;
      margin: 0;
      border-right: none;
    }
  }
  &_status_block {
    display: flex;
    align-items: center;
  }

  &_doc_icon {
    margin-right: 10px;
  }

  &_status_bar {
    height: 8px;
    width: 100%;
    background-color: $color-grey2;
    border-radius: 4px;
    margin-right: 5px;

    &_fill {
      height: 100%;
      width: 50%;
      border-radius: 4px;
      background-color: $color-pink2;
    }

    &_full {
      background-color: $color-green;
    }

    &_uploading {
      background-color: $color-yellow;
    }

    &_error {
      background-color: $color-red;
    }

    @include desktop1440 {
      margin-right: 10px;
    }

    @include tablet1024 {
      margin-right: 20px;
    }

    @include mobile {
      margin-right: 10px;
    }
  }

  &_percents {
    min-width: 64px;
    margin-right: 15px;
    text-align: right;

    @include tablet1024 {
      margin-right: 22px;
    }

    @include mobile {
      margin-right: 10px;
      min-width: 30px;
    }
  }

  &_status {
    margin-right: 15px;
    min-width: 100px;

    @include desktop1440 {
      margin-right: 18px;
    }

    @include tablet1024 {
      margin-right: 15px;
    }

    @include mobile {
      display: none;
      margin-right: 7px;
    }
    // & span {
      // margin-right: 7px;

      // @include desktop1440 {
      //   margin-right: 10px;
      // }
    // }
  }

  &_indication_block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between
  }

  &_complete {
    @include margin-right(8px, 16px, 10px);
  }

  &_circle {
    cursor: default;
    margin-right: 8px;
    // @include margin-right(10px, 18px, 12px);
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    border: 2px solid $color-grey2;
    
    // &:hover {
    //   border: 3px solid red;
    //   background-color: red;
    //   background-image: url('../../../assets/img/icons/close.svg');
    //   background-size: cover;
    // }

    &_complete {
      background-image: url('../../../assets/img/icons/circleCheck.svg');
      border: none;
      height: 22px;
      width: 22px;
    }
  }

  &_link_btn,
  &_disabled_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    // min-width: 150px;
    // height: 40px;
    // font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    color: $color-white;

    @include desktop1440 {
      // height: 30px;
    }

    @include mobile {
      font-size: 12px;
      min-width: 90px;
      // height: 30px;
    }
  }

  &_link_btn {
    background-color: #F3F5FF;
    border: 1px solid #F3F5FF;
    color: #7C859E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    // color: $color-white;
    // background-color: $color-blue;
    text-decoration: none;

    &:hover {
      background-color: $color-white;
      color: #4659FE;
    }
  }

  &_disabled_btn {
    background-color: $color-grey2;
  }
}
