@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$btn-height1920: 110px;
$btn-height1440: 70px;
$btn-height1024: 120px;

@mixin height($height1, $height2, $height3) {
  height: calc($height1 - (($btn-height1920 + 30px) / 2));

  @include desktop1440 {
    height: calc($height2 - (($btn-height1440 + 30px) / 2));
  }

  @include tablet1024 {
    height: calc($height3 - (($btn-height1024 + 30px) / 2));
  }

  @include mobile {
    height: calc($height3 - ((7.5px + 40px)/ 2));
  }
}

.upload {
  position: relative;
  height: 100%;

  &_wrapper {
    height: calc(100% - 61px);
  }

  &_title {
    margin-bottom: 25px;
    font-size: 38px;
    font-weight: 700;

    @include desktop1440 {
      margin-bottom: 16px;
      font-size: 32px;
    }

    @include tablet1024 {
      margin-bottom: 26px;
    }

    @include mobile {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &_notice {
    display: block;
    margin-top: 5px;
    color: $color-grey;

    @include mobile {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  &_dnd_block {
    @include height(39%, 45%, 35%);
  }

  &_btn,
  &_notice {
    margin: 0 auto 30px;

    @include desktop1440 {
      margin-bottom: 15px;
    }

    @include tablet1024 {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 50px;
    color: $color-white;
    background-color: $color-green;
    border-radius: 8px;
    cursor: pointer;

    &_block {
      display: flex;
      justify-content: center;
    }

    @include desktop1440 {
      width: 350px;
      height: 40px;
    }
  }

  &_btns {
    height: 50px;
    width: 200px;
    &:first-of-type {
      margin-right: 20px;
    }
  }

  &_input {
    display: none;
  }
}

.statuses {
  padding: 30px 45px;
  background-color: $color-white;
  border-radius: 16px;
  @include height(61%, 55%, 65%);

  @include desktop1440 {
    padding: 20px 30px;
  }

  @include tablet1024 {
    padding: 15px 30px;
  }

  @include mobile {
    padding: 10px 15px;
  }

  &_wrapper {
    position: relative;
    height: 100%;
  }

  &_content {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &_items {
    padding-right: 17px;
    height: calc(100% - 53px);
    overflow-y: scroll;

    @include desktop1440 {
      padding-right: 13px;
    }

    @include greenScrollbar;
  }

  &_title {
    margin-bottom: 21px;
    font-size: 32px;

    @include desktop1440 {
      margin-bottom: 13px;
      font-size: 24px;
    }

    @include tablet1024 {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
