@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$btn-height1920: 120px;
$btn-height1440: 80px;
$btn-height1024: 130px;

@mixin height($height1, $height2, $height3) {
  height: calc($height1 - (($btn-height1920 + 80px) / 2));

  @include desktop1440 {
    height: calc($height2 - (($btn-height1440 + 30px) / 2));
  }

  @include tablet1024 {
    height: calc($height3 - (($btn-height1024 + 30px) / 2));
  }

  @include mobile {
    height: calc($height3 - ((7.5px + 90px) / 2));
  }
}

.upload {
  position: relative;
  height: 100%;

  &_wrapper {
    height: calc(100% - 61px);
  }

  &_title {
    margin-bottom: 25px;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;

    @include desktop1440 {
      margin-bottom: 16px;
      font-size: 32px;
    }

    @include tablet1024 {
      margin-bottom: 26px;
    }

    @include mobile {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &_notice {
    display: block;
    margin-top: 5px;
    color: $color-grey;

    @include mobile {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  &_dnd_block {
    // @include height(273px, 45%, 35%);
    height: 273px;
    margin-bottom: 10px;

    @include desktop1440 {
      height: 210px;
    }

    @include tablet1024 {
      height: 360px;
    }

    @include mobile {
      height: 250px;
    }
  }

  &_btn,
  &_notice {
    margin: 0 auto 30px;

    @media screen and (min-width: 1440px) {
      margin-bottom: 20px;
    }

    @include desktop1440 {
      margin-bottom: 15px;
    }

    @include tablet1024 {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &_notice {
    @media screen and (min-width: 1440px) {
      margin-bottom: 15px;
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 50px;
    color: $color-white;
    background-color: $color-green;
    border-radius: 8px;
    cursor: pointer;

    @include desktop1440 {
      width: 350px;
      height: 40px;
    }

    &_block {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      @include mobile {
        justify-content: space-between;
      }
    }

    &.disabled {
      background-color: $color-grey;
      pointer-events: none;
    }
  }

  &_btns {
    height: 50px;
    width: 100%;
    max-width: 200px;

    @include desktop1440 {
      height: 40px;
    }

    @include mobile {
      font-size: 12px;
      height: 30px;
    }

    &:first-of-type {
      margin-right: 20px;

      @include mobile {
        margin-right: 25px;
      }
    }
  }

  &_input {
    display: none;
  }
}

.statuses {
  padding: 30px 45px;
  background-color: $color-white;
  border-radius: 16px;
  // @include height(61%, 50vh, 65%);
  height: calc(100vh - 520px);

  min-height: 150px;

  @media screen and (min-width: 1440px) {
    height: calc(100vh - 590px);
	}

  @media screen and (min-width: 1920px) {
    height: calc(100vh - 600px);
  }

  @include desktop1440 {
    padding: 20px 30px;
  }

  @include tablet1024 {
    padding: 15px 30px;
  }

  @include mobile {
    padding: 10px 15px;
    height: calc(100vh - 460px);
  }

  @include tablet {
    min-height: 300px;
  }

  &_wrapper {
    position: relative;
    height: 100%;
  }

  &_content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &_items {
    padding-right: 17px;
    height: calc(100% - 53px);
    overflow-y: scroll;

    @include desktop1440 {
      padding-right: 13px;
    }

    @include greenScrollbar;
  }

  &_title {
    margin-bottom: 21px;
    font-size: 32px;

    @include desktop1440 {
      margin-bottom: 13px;
      font-size: 24px;
    }

    @include tablet1024 {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
