@import 'assets/styles/modificators.scss';

.oops__container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 100px - 90px - 80px - 100px);
  height: 100%;
}

.oops__content_box {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, max-content);
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.oops__h2 {
  font-size: 40px;
}

.oops__p {
  font-size: 20px;
  line-height: 28px;
}