@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.storageFile__container {
	position: relative;
	display: grid;
	grid-template-areas: 'back back'
    'info data'
    'buttons data';
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-rows: auto auto;
	column-gap: 40px;
}
