@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";
@import "assets/styles/function.scss";

.profile__container {
	position: relative;
	height: 100%;

	display: grid;
	grid-template-areas:
		"head"
		"info"
		"info2"
		"info3"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, min-content);
	margin-bottom: 30px;
	justify-content: space-between;

	@include media-breakpoint-up(lg) {
		grid-template-areas:
			"head head"
			"info info2"
			"info info3"
			"footer footer";
		grid-template-columns: vw(300, 1024) vw(400, 1024);
		grid-template-rows: repeat(4, min-content);
		margin-bottom: 0;
	}

	@include media-breakpoint-up(xxl) {
		grid-template-columns: vw(470, 1440) vw(570, 1440);
		grid-template-rows: 1fr;
	}

	@include media-breakpoint-up(fhd) {
		grid-template-columns: vw(647) vw(863);
	}
}

.profile__head {
	grid-area: head;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin-bottom: 15px;
	row-gap: 10px;

	@include media-breakpoint-up(sm) {
		grid-template-columns: auto auto;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 25px;
		grid-template-rows: 1fr;
	}

	@include media-breakpoint-up(xxl) {
		grid-template-columns: vw(470, 1440) vw(570, 1440);
		margin-bottom: 15px;
	}

	@include media-breakpoint-up(fhd) {
		grid-template-columns: vw(647) vw(863);
		margin-bottom: 25px;
	}

	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 648px;

		@include desktop1440 {
			max-width: 470px;
		}

		@include desktop1024 {
			max-width: 100%;
		}
	}

	&_auth {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: $color-grey;
		gap: 30px;

		font-size: 20px;
		font-weight: 500;
		line-height: 24px;

		@include desktop1440 {
			font-size: 16px;
			line-height: 20px;
			gap: 20px;
		}

		@include desktop1024 {
			font-size: 16px;
			line-height: 20px;
			gap: 15px;
		}

		@include mobile {
			font-size: 12px;
			line-height: 14px;
			justify-content: space-between;
			width: 100%;
		}
	}

	&_button {
		height: fit-content;
		width: 100%;
		max-width: 300px;

		@include desktop1440 {
			max-width: 190px;
		}

		@include desktop1024 {
			max-width: 220px;
		}

		@include mobile {
			max-width: 150px;
		}
	}
}
