@import 'assets/styles/fonts.css';
@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.h1 {
  font: {
    family: $montserrat;
    size: 38px;
    weight: bold;
  }
  color: $color-black;
  margin: 0;
  padding: 0;
  line-height: 46px;

  @include desktop1440 {
		font-size: 32px;
    line-height: 39px;
	}

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

.h2 {
  font: {
    family: $montserrat;
    size: 32px;
    weight: bold;
  }
  color: $color-black;
  margin: 0;
  padding: 0;
  line-height: 39px;

  @include desktop1440 {
		font-size: 24px;
    line-height: 29px;
	}

  @include mobile {
    font-size: 14px;
    line-height: 17px;
  }
}

.h3 {
  font: {
    family: $montserrat;
    size: 24px;
    weight: 700;
  }
  color: $color-black;
  line-height: 36px;
  margin: 0;
  padding: 0;

  @include desktop1440 {
		font-size: 24px;
    line-height: 36px;
    font-weight: 500;
	}

  @include mobile {
    font-size: 14px;
    line-height: 17px;
  }
}

.h4 {
  font: {
    family: $montserrat;
    size: 24px;
    weight: 600;
  }
  line-height: 29px;
  margin: 0;
  padding: 0;
}

.h5 {
  font: {
    family: $montserrat;
    size: 20px;
    weight: 600;
  }
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.h6 {
  font: {
    family: $montserrat;
    size: 16px;
    weight: 600;
  }
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.p {
  font: {
    family: $montserrat;
    size: 20px;
    weight: 500;
  }
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: $color-grey;

  @include desktop1440 {
		font-size: 16px;
    line-height: 19px;
	}

  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

.small {
  font-size: 12px;
}

.bold {
  font: {
    family: $montserrat;
    weight: bold;
  }
}

.label {
  font: {
    family: $montserrat;
    size: 20px;
    weight: 500;
  }
  line-height: 24px;
  color: $color-grey;

  @include desktop1440 {
		font-size: 16px;
    line-height: 19px;
	}

  @include mobile {
    font-size: 14px;
    line-height: 17px;
  }
}

.span {
  font: {
    size: 1em;
    family: inherit;
  }
  color: inherit;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.full {
  text-align: justify;
}