@import "assets/styles/variables.scss";
@import 'assets/styles/_mixins.scss';

.outside_container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  background: $color-modal-background-outside;
}

.modal_container {
  position: relative;
  height: auto;
  min-height: 200px;
  background-color: $color-white;;
  box-shadow: -4px 4px 10px 0px rgba(143, 155, 186, 0.2);
  border: 1px solid;
  border-color: transparent;
  border-radius: 16px;

  @include mobile {
    width: calc(100vw - 30px) !important;
    height: auto;
    margin: 0px 15px;
    border-radius: 8px;
  }
}

.warning {
  border-image: linear-gradient(to bottom, rgb(191, 103, 70), rgba(191, 103, 70, 0.2)) 1;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonClose {
  position: absolute;

  top: 30px;
  right: 30px;

  @include desktop1440 {
    top: 20px;
    right: 20px;
  }

  @include mobile {
    top: 15px;
    right: 15px;
  }

  img {
    width: 20px;
    height: 20px;
  
    @include mobile {
      width: 15px;
      height: 15px;
    }
  }
}
