@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.knowledge {
  position: relative;
  &_header {
    margin-bottom: 25px;
  }
  &_title {
    margin-bottom: 25px;
  }
}

.items {
  padding: 40px;
  background-color: $color-white;
  box-shadow: -10px 56px 140px 0px #8f9bba33;
  border-radius: 16px;

  @include mobile {
    padding: 16px;
  }
}