@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.page_container {
	width: 100%;
	min-height: 100vh;
  height: 100%;

  display: grid;
  grid-template-areas: 'sidebar header'
    'sidebar main';
  grid-template-columns: 300px 1fr;
  // grid-template-rows: 85px 1fr auto;

	background: linear-gradient(to top right, rgba(250, 232, 255, 1), rgba(255, 255, 255, 1), rgba(219, 255, 202, 1));

  overflow: hidden;

  @include desktop1024 {
    grid-template-areas: 'sidebar header'
      'main main';
    grid-template-columns: 268px 1fr;
    grid-template-rows: 60px auto;
    height: fit-content;
  }
}

.page__main {
	grid-area: main;
	min-height: calc(100vh - 100px - 90px);

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	row-gap: 20px;
	justify-content: flex-start;

	padding: 30px 40px 62px;

	@include desktop1440 {
		padding: 20px 40px;
	}

	@include desktop1024 {
		padding: 20px 30px;
	}

  @include mobile {
    padding: 10px 15px;
  }
}
