@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.edit_item__container {
	display: flex;
	gap: 6px;

	@include media-breakpoint-up(lg) {
		gap: 16px;
	}

	span {
		font-weight: 700;
		color: $color-grey;
		width: auto;
		// @include font-20();
	}
}

.edit_item_inputs {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 22px;
	width: 100%;

	@include media-breakpoint-up(lg) {
		row-gap: 15px;
	}

	@include media-breakpoint-up(xl) {
		row-gap: 10px;
	}
}

.edit_item_input_container {
	.edit_item_inputBox {
		border: 1px solid $color-green;
		height: 40px;

		@include media-breakpoint-up(xl) {
			height: 30px;
		}
	
		input {
			border-radius: 8px;
			padding: 10px;
		}
	}
}

.edit_item_icon {
	height: fit-content;
	margin: auto;
}

.edit_item_wrapper {
	display: flex;
	align-items: center;
	width: 100%;

	span {
		width: 56px;
		margin-left: 4px;
		text-transform: uppercase;
	}

	&:nth-child(1) {
		span {
			color: $color-pink;
		}
	}

	&:nth-child(2) {
		span {
			color: $color-green;
		}
	}

	&:nth-child(3) {
		span {
			color: $color-black;
		}
	}
}
