@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.edit_item__container {
	display: flex;
	gap: 6px;

	@include media-breakpoint-up(lg) {
		gap: 16px;
	}

	&>span {
		// padding-top: 10px;
		font-weight: 700;
		color: $color-grey;
		width: auto;
		// @include font-20();
	}
}

.edit_item_inputs {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	row-gap: 8px;
	column-gap: 22px;

	@include media-breakpoint-up(lg) {
		row-gap: 15px;
	}

	@include media-breakpoint-up(xl) {
		row-gap: 10px;
	}
}

.edit_item_input_container {
	position: relative;
	width: 100%;
	.edit_item_inputBox {
		width: 100%;
		// border: 1px solid $color-blue;
		// height: 40px;

		@include media-breakpoint-up(xl) {
			// height: 30px;
		}
	
		input {
			border-radius: 8px;
			padding: 10px;
		}
	}
}

.edit_item_icon {
	height: fit-content;
	margin: auto;
}

.edit_item_wrapper {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: #F6F7FF;
	border-radius: 7px;
	div{
		border: none!important;
		background-color: transparent!important;
	}

	input{
		background-color: transparent!important;
		padding-right: 70px!important;
		width: 100%!important;
	}

	span {
		&::after{
			display: none;
		}
		position: absolute;
		right: 8px;
		// width: 56px;
		// margin-left: 4px;
		border-radius: 4px;
		background-color: #FFFFFF;
		padding: 2px 6px;
		text-transform: uppercase;
	}

	&:nth-child(1) {
		span {
			color: #E0A32C;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			// color: $color-pink;
		}
	}

	&:nth-child(2) {
		span {
			color: #3AB393;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}
	}

	&:nth-child(3) {
		span {
			color: #7C859E;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}
	}
}
