@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$border-radius: 8px;

.table {
  &_btn_link {
    text-decoration: underline;
    color: $color-green;
  }

  &_block_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_provide {
    margin-right: 15px;
    background-color: $color-green;
    color: #fff;

    @include desktop1440 {
      margin-right: 10px;
    }
  }

  &_decline {
    background-color: $color-grey2;
    color: #fff;
  }

  &_provide,
  &_decline {
    height: 40px;
    width: 130px;
    border-radius: $border-radius;

    @include desktop1440 {
      height: 30px;
      width: 90px;
    }
  }
}
