@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.input__container {
  position: relative;
  width: 100%;

  .label_container {
    margin-bottom: 8px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;

    .input__label {
      display: flex;
      flex-direction: row;
      letter-spacing: 0;
      color: $color-grey;

      font-size: 20px;
      line-height: 24px;

      @include desktop1440 {
        font-size: 16px;
        line-height: 20px;
      }
    
      @include desktop1024 {
        font-size: 18px;
        line-height: 22px;
      }
    
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }

      .required {
        color: $color-green;
      }
    }

    .input__label_right {
      margin-left: auto;
      color: $color-green;
    }
  }

  .input__box {
    overflow: hidden;
    background-color: $color-white;
    border: 1px solid $color-grey2;
    box-shadow: 0px 6px 16px 0px rgba($color-green, .06);

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
    }

    border-radius: 10px;
    display: flex;
    align-items: center;

    height: 50px;

    @include desktop1440 {
      height: 40px;
    }
  
    @include desktop1024 {
      height: 40px;
    }
  
    @include mobile {
      height: 30px;
    }

    input {
      grid-area: input;

      color: $color-grey;
      align-items: center;
      width: 100%;
      height: 100%;

      border: 0;
      outline: 0;
      padding: 0px 16px 0px 16px;

      font-size: 20px;
      line-height: 24px;
      font-weight: 500;

      @include desktop1440 {
        font-size: 16px;
        line-height: 20px;
      }
    
      @include desktop1024 {
        font-size: 18px;
        line-height: 22px;
      }
    
      @include mobile {
        font-size: 12px;
        line-height: 17px;
      }
    }

    ::placeholder {
      font-size: 14px;
      line-height: 18px;
      color: $color-grey;
    }

    .input_icon {
      height: 100%;
      width: 48px;
      margin: 0;

      img {
        width: 24px;
        height: 24px;

        @include desktop1440 {
          width: 20px;
          height: 20px;
        }
      
        @include desktop1024 {
          width: 24px;
          height: 24px;
        }
      
        @include mobile {
          width: 16px;
          height: 16px;
        }
      }
    }

    .input__suffix {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $color-grey;
      padding: 0 15px 0 10px;
    }

    &_error {
      border: 1px solid $color-red;
    }

    & .search_icon {
      margin-left: 16px;
      width: 24px;
      height: 24px;

      @include mobile {
        margin-left: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }

  & .input__error {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: $color-red;
  }

  & .input__notification {
    display: flex;
    position: absolute;
    left: calc(100% + 10px);
    cursor: pointer;

    @include tablet {
      display: none;
    }
  }
}
