@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

@mixin icon($url, $size : 24px) {
  // line-height: normal;;
  &:before {
    content: "";
    float: left;
    // padding-right: 5px;
    // display: inline-flex;
    // display: inline-block;
    // position: absolute;
    // bottom: -2px
    // left: 0px;
    // top: -1px;
    // top: 50%;
    // transform: translateY(-50%);
    height: $size;
    width: $size;
    background: url($url) no-repeat;
    background-size: contain;

    // @include desktop1440 {
    //   height: 20px;
    //   width: 20px;
    // }

    @include tablet {
      // left: -18px;
      // top: 0px;
      // background-size: 14px;
    }
  }
}

.items {
  padding: 40px;
  background-color: $color-white;
  box-shadow: -10px 56px 140px 0px #8f9bba33;
  border-radius: 16px;
}

.item {
  // margin-bottom: 20px;
  // padding-bottom: 20px;
  color: $color-grey;
  border-bottom: 2px solid #F3F5FF;;
  // font-size: 20px;

  @include desktop1440 {
    font-size: 16px;
  }

  &_content_block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &_first_block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &_title {
    font-weight: 500;
    // color: $color-grey;
    // color: #4659FE;
    // margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.2!important;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    // max-width: 40%;

    @include desktop1440 {
      // font-size: 24px;
    }

    @include tablet {
      color: $color-black !important;
    }
  }

  &_row_block {
    // max-width: 200px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    @include tablet {
      color: $color-grey;
      margin-bottom: 15px;

      &:first-of-type {
        padding-left: 18px;
      }
    }
  }

  &_description_block {
    display: flex;
    gap: 10px;
  }

  &_core {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
-webkit-box-orient: vertical;

    @include desktop1440 {
      max-width: 425px;
    }
  }

  &_field_author_block {
    min-width: 288px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktop1440 {
      gap: 25px;
      min-width: 198px;
    }

    @include tablet1024 {
      min-width: 198px;
      gap: 20px;
    }
  }

  &_second_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .buttonShowAccess {
      margin-bottom: 40px;
      text-align: right;
      width: 250px;
      // border: 1px solid red;
    }
  }

  &_status {
    align-self: end;
  }

  &_date_block {
    display: flex;
    text-wrap: nowrap;

    @include tablet {
      justify-content: space-between;
      color: $color-grey;
    }
  }

  &_col_block,
  &_created_block {
    display: flex;
    flex-direction: column;
  }

  &_col_block {
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    @include tablet {
      color: $color-grey;
      margin-bottom: 15px;
    }
  }

  &_created_block {
    margin-right: 60px;

    @include desktop1440 {
      margin-right: 50px;
    }

    @include tablet1024 {
      margin-right: 44px;
    }
  }

  &_btn_link {
    // text-decoration: underline;
    color: $color-blue;
    display: inline-block;
    margin-left: 3px;
  }
}

.title {
  font-weight: 500;
  color:#0F0F0F;
  text-overflow: ellipsis;
  overflow: hidden;

  
  @include tablet {
    color: $color-black;
  }
}

.selected {
  background-color: $color-yellow;
}

.selected_container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.open,
.permission_needed,
.granted,
.pending,
.denied {
  font-weight: 500;
  position: relative;
  align-self: end;
  margin-bottom: 40px;
  line-height: 24px;
  cursor: default;
  @include desktop1440 {
    margin-bottom: 28px;
  }
}

.permission_needed{
  cursor: pointer;
}

.granted,
.pending {
  color: $color-grey;
}

.open {
  position: relative;
  color: $color-green;
  // padding: 2px;
  // padding-left: 32px;
  margin-bottom: 0;
  @include icon("../../../assets/img/icons/check1.svg");
}

.granted {
  color: $color-green;
  // padding: 2px;
  // padding-left: 32px;
  margin-bottom: 0;
  @include icon("../../../assets/img/icons/accessGranted.svg", 20px);
}


.pending {
  // padding: 2px;
  // padding-left: 32px;
    margin-bottom: 0;
  @include icon("../../../assets/img/icons/clock.svg");
}

.permission_needed {
  // padding: 2px;
  // padding-left: 32px;
    margin-bottom: 0;
  color: #E0A32C;
  // text-decoration: underline;
  @include icon("../../../assets/img/icons/alertSquare1.svg");
}

.denied {
  cursor: not-allowed;
  color: $color-black;
  @include icon("../../../assets/img/icons/denied.svg");
}

.tooltip {
	background-color: $color-white !important;
	padding: 15px !important;
	border-radius: 8px !important;
	border: 1px solid $color-grey2 !important;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	color: $color-black !important;
	word-break: break-all;
	max-width: 90%;
	z-index: 2;
}



// .item_inner_row{
//   display: flex;
//   gap: 15px
// }




.item{
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 30px 0px;
  // padding-right: 20px;
  position: relative;

  // &*:not(button *) {
    // :not:first-child
  & >  *:not(button *) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

   
  }

  .community_wrapper {
    display: flex;
  }
  &_title{
    display: flex;
    align-items: center;
    gap:10px;
    svg{
      width: 16px;
      min-width: 16px;
    }
  }
  &_inner_col{
    width: 25%;
    a,button{
      text-decoration: none;
    }
    // min-width: ;
  }
  &_inner_col:nth-child(1){
    overflow: visible;
    width: 40%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
      display: flex;
    }

    .requester_row{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-left: 26px;
    }
    .field{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px
    }
  }
  &_inner_col:nth-child(2){
    width: 25%;
    min-width: 100px;
    -webkit-line-clamp: 5;
  }
  &_inner_col:nth-child(3),
  &_inner_col:nth-child(4){
    width: 10%;
    min-width: 100px;

    @media screen and (min-width:1024px){
      span{
        display: none;
      }
    }
  }
  &_inner_col:nth-child(5){
    width: 15%;
    min-width: 100px;
    overflow: visible;
    padding-right: 20px;
    text-align: left;
    span {
      padding-left: 2px;
    }
    *{
      text-align: left;
    }
  }
  &_inner_col:nth-child(6){
    display: none;
  }
  @media screen and (max-width: 1280px) {
    &_inner_col:nth-child(1){
      .requester_row{
        margin-left: 0;
      }
    }
    &_inner_col:nth-child(5){
      display: flex;
      justify-content: flex-end;
      width: 5%;
      min-width: 60px;
    }
    .permission_needed,
    .granted,
    .open,
    .pending,
    .denied{
      // text-align: right;
      // height: 20px;
      padding: 0;
      padding-top: 20px;
      
      &::before{
        top: 0px;
        position: relative;
        display: block;
        transform: none
      }
      span{
        display: none;
      }
    }

  }


  @media screen and (max-width:1024px){

    

    padding: 25px 0;

    &_inner_col{
      width: 100%!important;
    }
    flex-wrap: wrap;
    // flex-direction: column;

    &_title{
      font-size: 19px;
      flex-direction: column;
      align-items: flex-start;
    }
    &_inner_col:nth-child(1){
      .requester_row{
        display: none;
      }
    }

    
   
    &_inner_col:nth-child(5){
      position: absolute;
      right: 0px;
      top: 25px;
      *{
        padding: 0;
      }

      
    }

    &:first-child  &_inner_col:nth-child(5){
      // top: 0px
    }

    

    &_inner_col:nth-child(3),
    &_inner_col:nth-child(4){
      // width: calc(50% - 5px)!important;
      display: flex;
      justify-content: space-between;
      min-width: 120px;
      span{
        font-weight: 500;
        color: #0F0F0F
      }
      // order: 999;
    }
    &_inner_col:nth-child(5){
      width: auto!important;
      min-width: auto;
      .permission_needed,.granted,
      .pending,
      .denied{
        margin-bottom: 0;
        padding-left: 2px;
        &::before{
          position: static;
          display: block;
          transform: unset;
        }
        span {
          display: none;
        }
      }
    }
    &_inner_col:nth-child(6){
      display: block;
      .requester_row{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        .field{
          display: flex;
          gap: 10px;
          flex-wrap: nowrap;
        }
      }
    }
  }
}

.community_wrapper {
  display: flex;
  width: 100%;

  @include tablet1024 {
    margin-bottom: 15px;
  }
}
