@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

@mixin icon($url) {
  line-height: normal;;
  &:before {
    content: "";
    position: absolute;
    // bottom: -2px
    left: -32px;
    height: 24px;
    width: 24px;
    background: url($url) no-repeat;
    background-size: contain;

    @include desktop1440 {
      height: 20px;
      width: 20px;
    }

    @include tablet {
      left: -18px;
      top: 0px;
      background-size: 14px;
    }
  }
}

.items {
  padding: 40px;
  background-color: $color-white;
  box-shadow: -10px 56px 140px 0px #8f9bba33;
  border-radius: 16px;
}

.item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: $color-grey;
  border-bottom: 2px solid $color-grey2;
  font-size: 20px;

  @include desktop1440 {
    font-size: 16px;
  }

  &_content_block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &_first_block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &_title {
    color: $color-grey;
    margin-bottom: 25px;
    font-size: 32px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    // max-width: 40%;

    @include desktop1440 {
      font-size: 24px;
    }

    @include tablet {
      color: $color-black !important;
    }
  }

  &_row_block {
    // max-width: 200px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    @include tablet {
      color: $color-grey;
      margin-bottom: 15px;

      &:first-of-type {
        padding-left: 18px;
      }
    }
  }

  &_description_block {
    display: flex;
    gap: 10px;
  }

  &_core {
    max-width: 600px;

    @include desktop1440 {
      max-width: 425px;
    }
  }

  &_field_author_block {
    min-width: 288px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktop1440 {
      gap: 25px;
      min-width: 198px;
    }

    @include tablet1024 {
      min-width: 198px;
      gap: 20px;
    }
  }

  &_second_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .buttonShowAccess {
      margin-bottom: 40px;
      text-align: right;
      width: 250px;
      // border: 1px solid red;
    }
  }

  &_status {
    align-self: end;
  }

  &_date_block {
    display: flex;
    text-wrap: nowrap;

    @include tablet {
      justify-content: space-between;
      color: $color-grey;
    }
  }

  &_col_block,
  &_created_block {
    display: flex;
    flex-direction: column;
  }

  &_col_block {
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    @include tablet {
      color: $color-grey;
      margin-bottom: 15px;
    }
  }

  &_created_block {
    margin-right: 60px;

    @include desktop1440 {
      margin-right: 50px;
    }

    @include tablet1024 {
      margin-right: 44px;
    }
  }

  &_btn_link {
    text-decoration: underline;
    color: $color-green;
    display: inline-block;
    margin-left: 3px;
  }
}

.title {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;

  
  @include tablet {
    color: $color-black;
  }
}

.selected {
  background-color: $color-yellow;
}

.selected_container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.open,
.permission_needed,
.granted,
.pending,
.denied {
  font-weight: 500;
  position: relative;
  align-self: end;
  margin-bottom: 40px;

  @include desktop1440 {
    margin-bottom: 28px;
  }
}

.granted,
.pending {
  color: $color-grey;
}

.open {
  position: relative;
  color: $color-green;
  @include icon("../../../assets/img/icons/check1.svg");
}

.granted {
  color: $color-green;
  @include icon("../../../assets/img/icons/alertSquare.svg");
}

.pending {
  @include icon("../../../assets/img/icons/clock.svg");
}

.permission_needed {
  color: $color-pink;
  text-decoration: underline;
  @include icon("../../../assets/img/icons/alertSquare1.svg");
}

.denied {
  cursor: not-allowed;
  color: $color-black;
  @include icon("../../../assets/img/icons/denied.svg");
}

.tooltip {
	background-color: $color-white !important;
	padding: 15px !important;
	border-radius: 8px !important;
	border: 1px solid $color-grey2 !important;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	color: $color-black !important;
	word-break: break-all;
	max-width: 90%;
	z-index: 2;
}
