@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

@mixin icon($url) {
  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -32px;
    height: 24px;
    width: 24px;
    background: url($url) no-repeat;

    @include mobile {
      left: -18px;
      top: 0px;
      background-size: 14px;
    }
  }
}

.items {
  padding: 40px;
  background-color: $color-white;
  box-shadow: -10px 56px 140px 0px #8f9bba33;
  border-radius: 16px;
}

.item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: $color-grey;
  border-bottom: 2px solid $color-grey2;
  font-size: 20px;

  @include desktop1440 {
    font-size: 16px;
  }

  &_content_block {
    display: flex;
    justify-content: space-between;
  }

  &_first_block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &_title {
    color: $color-grey;
    margin-bottom: 25px;
    font-size: 32px;

    @include desktop1440 {
      font-size: 24px;
    }

    @include mobile {
      color: $color-black !important;
    }
  }

  &_row_block {
    @include mobile {
      color: $color-grey;
      margin-bottom: 15px;

      &:first-of-type {
        padding-left: 18px;
      }
    }
  }

  &_description_block {
    display: flex;
  }

  &_core {
    max-width: 600px;

    @include desktop1440 {
      max-width: 425px;
    }
  }

  &_field_author_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
    text-wrap: nowrap;

    @include desktop1440 {
      margin-right: 54px;
    }

    @include tablet1024 {
      margin-right: 44px;
    }
  }

  &_second_block {
    display: flex;
    flex-direction: column;
  }

  &_status {
    align-self: end;
  }

  &_date_block {
    display: flex;
    text-wrap: nowrap;

    @include mobile {
      justify-content: space-between;
      color: $color-grey;
    }
  }

  &_col_block,
  &_created_block {
    display: flex;
    flex-direction: column;
  }

  &_col_block {
    @include mobile {
      color: $color-grey;
      margin-bottom: 15px;
    }
  }

  &_created_block {
    margin-right: 60px;

    @include desktop1440 {
      margin-right: 50px;
    }

    @include tablet1024 {
      margin-right: 44px;
    }
  }

  &_btn_link {
    text-decoration: underline;
    color: $color-green;
  }
}

.title {
  font-weight: 700;

  @include mobile {
    color: $color-black;
  }
}

.selected {
  background-color: $color-yellow;
}

.open,
.permission_needed,
.permission_given,
.pending,
.denied {
  font-weight: 500;
  position: relative;
  align-self: end;
  margin-bottom: 40px;

  @include desktop1440 {
    margin-bottom: 28px;
  }
}

.permission_given,
.pending {
  color: $color-grey;
}

.open {
  position: relative;
  color: $color-green;
  @include icon("../../../assets/img/icons/check1.svg");
}

.permission_given {
  @include icon("../../../assets/img/icons/alertSquare.svg");
}

.pending {
  @include icon("../../../assets/img/icons/clock.svg");
}

.permission_needed {
  color: $color-pink;
  text-decoration: underline;
  @include icon("../../../assets/img/icons/alertSquare1.svg");
}

.permission_needed {
  color: $color-pink;
  text-decoration: underline;
  @include icon("../../../assets/img/icons/alertSquare1.svg");
}

.denied {
  color: $color-black;
  @include icon("../../../assets/img/icons/denied.svg");
}
