@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$border-radius: 8px;
$tbody-border: 40px solid transparent;

.requests {
  &_container {
    position: relative;
  }

  &_header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 17px;
  }

  &_title {
    font-weight: 700;
    font-size: 38px;
    margin-right: 20px;
  }

  &_btn_block {
    display: flex;
  }

  &_btn_to_me {
    border-radius: $border-radius 0 0 $border-radius;
    background-color: $color-green;
    color: #fff;
  }

  &_btn_my {
    background-color: #fff;
    color: $color-green;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &_btn_to_me,
  &_btn_my {
    height: 40px;
    width: 200px;
    font-weight: 600;
    border: 1px solid $color-green;
  }
}

