@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$margin-right-visible: 75px;
$margin-right-hidden: -310px;
$margin-right-hidden-mobile: -610px;
$margin-horizontal-mobile: 15px;

.notification_container {
	width: 280px;
	height: auto;
	padding: 8px;
	background-color: $color-white;
	box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
	position: fixed;
	top: 78px;
	right: 0;
	z-index: 10000;
	border-radius: 8px;
	border: 1px solid $color-green;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100%);
	transition: all 0.5s;


	@include mobile {
		width: auto;
		top: 48px;
	}
}

.show {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.visible {
	animation-name: sliding;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	display: block;
}