@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$margin-right-visible: 75px;
$margin-right-hidden: -310px;
$margin-right-hidden-mobile: -610px;
$margin-horizontal-mobile: 15px;

.notification {
  &_container {
    width: 600px;
    max-height: 226px;
    height: 100%;
    padding: 8px;
    background-color: $color-white;
    box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
    position: fixed;
    top: 94px;
    right: 110px;
    z-index: 100;
    border-radius: 8px;
    border: 1px solid $color-green;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s;
    // overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;

    @include greenScrollbar;

    &::-webkit-scrollbar {
      width: 16px;
    }
    
    &::-webkit-scrollbar-thumb {
      box-shadow: inset -8px 0 0 #EEE;
    }

    @include desktop1440 {
      width: 550px;
      max-height: 196;
      padding: 15px;
      top: 80px;
      rigth: 90px;
    }

    @include tablet {
      right: 15px;
      width: calc(100% - 30px);
      top: 48px;
    }

    // @include mobile {
    //   right: 15px;
    //   width: calc(100% - 30px);
    //   top: 48px;
    // }
  }

  &_wrapper {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

    @include greenScrollbar;
  }

  &_content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 20px;

    @include desktop1440 {
      padding-right: 15px;
    }
  }
}
.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.item {
  &_container {
    border-bottom: 1px solid $color-grey;
    padding: 15px 7px;

    &:first-of-type {
      padding-top: 7px;
    }
    &:last-of-type {
      padding-bottom: 15px;
      border-bottom: none;
    }
  }

  &_block {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &_time {
    color: $color-grey;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: $color-grey4;
    font-size: 20px;
    overflow: hidden;
  }
}
