@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

$desktor-indent: 40px;

@mixin content-max-width($width, $indent) {
  max-width: calc($width / 2 - $indent);
}

@mixin h-text-style {
  font-weight: 700 !important;
  color: $color-grey !important;
}

.requester {
  &_info{
    padding: 20px 90px 0px;
    // margin-bottom: 32px;
    // padding-bottom: 32px;
    // border-bottom: 1px solid #F3F5FF;
  }
  &_wrapper {
    padding: 40px 0 40px;
    // padding: 40px 90px;
    // padding: $desktor-indent;
    // color: $color-grey;

    @include desktop1440 {
      // padding: 22.5px 55px 30px;
    }

    @include mobile {
      // padding: 15px;
    }
  }

  &_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1.2!important;
    padding-bottom: 32px!important;
    // margin-bottom: 30px !important;
    // font-size: 32px !important;
    // text-align: center;
    // @include h-text-style();

    // @include desktop1440 {
    //   margin-bottom: 25px !important;
    //   font-size: 24px !important;
    // }

    // @include mobile {
    //   margin-bottom: 15px !important;
    //   font-size: 16px !important;
    // }
  }

  &_content_wrapper {
    display: flex;
    
    height: auto;
    max-height: calc(100vh - 348px);
    gap: 13px;

    overflow-y: auto;
    overflow-x: hidden;

    @include greenScrollbar();

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &_image {
    position: relative;
    // margin: 50px 68px 0 0;
    border: 1px solid #F3F5FF;
    border-radius: 50%;
    align-self: flex-start;
    min-width: 50px;
    width: 50px;
    height: 50px;
    // width: 280px;
    // height: 280px;

    @include desktop1440 {
      // margin: 25px 55px 0 0;
      // width: 230px;
      // height: 230px;
    }

    @include mobile {
      margin: 0 auto 15px;
      // width: 99px;
      // height: 99px;
      // min-height: 99px;
    }

    img {
      border-radius: 100%;
      // background-color: $color-grey2;
      text-indent:-9999px
    }


    & > span {
      background-color: $color-grey2;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 100%;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // @include content-max-width(834px, $desktor-indent);

    @include desktop1440 {
      // @include content-max-width(650px, 55px);
    }

    @include mobile {
      // max-width: 100%;
    }
  }

  &_info_title{
    font-size: 16px!important;
    font-style: normal;
    font-weight: 500!important;
    color: #0F0F0F!important;
  }
  &_info_description{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color:#7C859E;
  }


  &_name,
  &_country {
    // font-size: 24px;
    // line-height: normal;
    // @include desktop1440 {
    //   font-size: 18px;
    // }
    // @include tablet {
    //   font-size: 16px;
    // }
    // @include mobile {
    //   font-size: 14px;
    // }
  }

  &_name {
    // margin-bottom: 15p !important;
    // @include h-text-style();

    // @include desktop1440 {
    //   margin-bottom: 17px !important;
    // }

    // @include mobile {
    //   margin-bottom: 10px !important;
    // }
  }

  &_country {
    // display: block;
    // margin-bottom: 30px;

    // @include desktop1440 {
    //   margin-bottom: 23.5px;
    // }

    // @include mobile {
    //   margin-bottom: 15px;
    // }
  }
}

.block {
  &_wrapper {
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;

    // @include desktop1440 {
    //   margin-bottom: 15px;
    // }

    // @include mobile {
    //   margin-bottom: 10px;
    // }

    // &:last-of-type {
    //   margin-bottom: 0 !important;
    // }
  }

  &_title {
    font-weight: 700;
    // margin-bottom: 12px;

    // @include desktop1440 {
    //   margin-bottom: 10px;
    // }

    // @include mobile {
    //   margin-bottom: 8px;
    // }
  }

  &_text {
    max-width: 500px;
  }
}

.access {
  &_wrapper {
    padding: 0 90px;
    padding-top: 32px;
    border-top: 1px solid #F3F5FF;
    margin-top: 32px;

  }
  // &_wrapper {
  //   border-top: 2px solid #F3F5FF;
  //   margin-top: 30px;
  //   padding-top: 30px;

  //   @include desktop1440 {
  //     margin-top: 20px;
  //   }

  //   @include mobile {
  //     margin-top: 15px;
  //   }
  // }
  &_title {
    text-align: center;
    font-weight: 700;
    // margin-bottom: 30px;

    // @include desktop1440 {
    //   margin-bottom: 25px;
    // }

    // @include mobile {
    //   margin-bottom: 15px;
    // }
  }

  &_btns_block {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;

    & > button {
      width: 100%;
      // margin: 0 15px;
      @include mobile {
        // margin: 0 7.5px;
      }
    }
  }

  &_access_btn,
  &_decline_btn {
    text-align: center;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    width: 250px;

    @include desktop1440 {
      height: 30px;
      width: 200px;
    }

    @include mobile {
      height: 20px;
      width: 120px;
    }
  }

  &_access_btn {
    background-color: $color-blue;
    margin-right: 30px;
    @include mobile {
      margin-right: 15px;
    }
  }

  &_decline_btn {
    background-color: $color-grey2;
  }
}

.access_title{
  color: #7C859E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.block_title,
.block_text,
.access_title,
.access_access_btn,
.access_decline_btn {
  // font-size: 20px;

  // @include desktop1440 {
  //   font-size: 16px !important;
  // }

  // @include mobile {
  //   font-size: 12px !important;
  // }
}
