@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.mock {
  @include mobile {
    display: none;
  }
}

.modal_key_password {
  max-width: 650px;
}

.modal_set_key_password{
  max-width: 690px;
}

.denied {
  color: $color-red;
}
.granted {
  color: $color-green;
}
.permission_needed {

}
.pending {

}
.denied {

}

.containerStatus {
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 12px;
    font-weight: 700;
    color: #00140E;
  }
}

.ownerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}


.requesterMobile {
  margin-top: 2px;
  justify-content: flex-start;
}

.table {
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
		@include desktop1024 {
      height: calc(100vh - 248px - 64px);
			padding: 0 10px;
		}

		@media screen and (max-width: 1218px) {
			height: calc(100vh - 248px - 78px);
		}
		@media screen and (min-width: 1218px)  and (max-width: 1400px)  {
			height: calc(100vh - 248px - 28px);
		}
    
    tr {
      min-height: 88px;

      @include desktop1440 {
        min-height: 62px;
      }
    }


    td:last-child {
      padding: 16px;
    }
  }
}

.tableMobile {
	height: calc(100vh - 229px);	
  @include mobile {
    height: calc(100vh - 172px);	
  }
}