@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.storage__search {
	display: flex;
	margin-bottom: 25px;

	@include mobile {
		flex-direction: column;
		gap: 15px;
	}
}

.input {

	@include desktop1440 {
		max-width: 600px;
	}

	@include desktop1024 {
		max-width: 590px;
	}
}

.upload {
	position: relative;
	padding: 16px 68px;
	margin-left: 150px;
	@include desktop1440 {
		padding: 14px 40px;
	}

	@include desktop1024 {
		padding: 10px 20px 10px 40px;
	}
}

.plus_icon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 18px;
	display: block;

	&:before,
	&:after {
		content: "";
		position: absolute;
		background-color: $color-white;
	}

	&:before {
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&:after {
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.green_text {
	color: $color-green;
}

.radio_buttons {
	display: flex;
	flex-direction: column;
	min-width: 230px;
}

.empty_space {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table {
	thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
    height: calc(100vh - 416px);
    table-layout: fixed;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;

    @include greenScrollbar();
	}

	thead, tbody {
		th {
			&:last-of-type {
				width: 7rem;
			}
		}

		td {
			&:last-of-type {
				width: 0;
			}
		}

		@media screen and (max-width: 1900px) {
			th {
				&:last-of-type {
					width: 70px;
				}
			}
	
			td {
				&:last-of-type {
					width: 24px;
				}
			}
		}
	}
}
