@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.storage__search {
	display: flex;
	margin-bottom: 25px;

	@include mobile {
		flex-direction: column;
		gap: 15px;
	}
}

.input {

	@include desktop1440 {
		max-width: 600px;
	}

	@include desktop1024 {
		max-width: 590px;
	}
}


.green_text {
	color: $color-green;
}

.radio_buttons {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	min-width: 230px;

	@include desktop1660 {
		margin-left: 0;
	}
}

.empty_space {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
