@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.table {
	padding: 0 0 44px;

	thead {
    th {
      border-bottom: 2px solid $color-grey2;
      padding: 16px 0;

			@include desktop1024 {
				padding: 6px 0;
			}
    }
  }

  tbody {
		position: relative;

    td {
			padding: 16px 26px;
			line-height: 24px;

			@include desktop1024 {
				padding: 6px 16px;
			}

      a {
				max-width: 400px;

				@include desktop1660 {
					max-width: initial;
				}
			}

			& > p {
				font-size: inherit;
				font-weight: 700;
			}

			&:nth-child(3) {
				width: 430px;

				@include desktop1660 {
					width: auto;
				}
			}

			&:last-of-type {
				padding: 16px 32px;

				@include desktop1024 {
					padding: 16px;
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				height: 100%;
				width: 2.5rem;
				background-color: $color-white;

				@media screen and (max-width: 1900px) {
					width: 10px;
				}
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
    }
  }
}

.storage__search {
	display: flex;
	margin-bottom: 25px;
}

.input {
	max-width: 1090px;
	height: 40px !important;

	@include desktop1440 {
		max-width: 600px;
		height: 50px !important;
	}

	@include desktop1024 {
		max-width: 587px;
		height: 50px !important;
	}

	@include mobile {
		height: 30px !important;
	}
}

.upload {
	position: relative;
	padding: 16px 68px;

	@include desktop1440 {
		padding: 14px 40px;
	}

	@include desktop1024 {
		padding: 10px 20px 10px 40px;
	}
}

.plus_icon {
  width: 18px;
  height: 18px;
  position: absolute;
	left: 18px;
	display: block;

	&:before, &:after {
		content: '';
		position: absolute;
		background-color: $color-white;
	}

	&:before {
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&:after {
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.green_text {
	color: $color-green;
}

.radio_buttons {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	min-width: 230px;

	@include desktop1660 {
		margin-left: 0;
	}
}

.empty_space {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination {
	justify-content: flex-end;
	margin-top: 24px;

	@include desktop1440 {
    margin-top: 17px;
  }

  @include desktop1024 {
    margin-top: 24px;
  }

	@include mobile {
		display: none;
	}
}
