@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.page_container {
	display: flex;
	justify-items: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(rgba(219, 255, 202, 0.5), rgba(250, 232, 255, 0.55));
	background-image: url('../../assets/img/images/bgAuth.svg');
  // background-position-x: 40px;
  background-size: cover, cover;
  background-repeat: no-repeat;
}

.page__main {
	min-height: calc(100vh - 100px - 90px);

	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 15px 0px 15px;
	row-gap: 20px;
}

