@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.table {
	// padding: 0 0 20px;

	thead {
		th {
			border-bottom: 2px solid $color-grey2;
			padding: 16px 0;
			border-right: 2px solid $color-grey2;
			color:#7C859E;
			font-weight: 500;

			&:last-of-type {
				border-right: none;
			}

			@include desktop1024 {
				padding: 6px 0;
			}
		}
	}

	tbody {
		position: relative;
		// background-color: purple;
		td {
			padding: 16px 0px;
			line-height: 24px;
			text-overflow: ellipsis;
			// display: -webkit-box;
			white-space: nowrap;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;

			@include desktop1024 {
				padding: 6px 0px;
			}

			a {
				color:#0F0F0F;
				text-decoration: none;
				&:hover{
					color:#4659FE;
				}
				// color:#4659FE;
				// max-width: 400px;

				@include desktop1660 {
					max-width: initial;
				}
			}

			& > p {
				// overflow: hidden;
				font-size: inherit;
				
			}

			&:nth-child(3) {
				// width: 430px;

				@include desktop1660 {
					width: auto;
				}
			}


			&:last-child {
				// display: flex;
				text-align: center;

				width: auto;
				@include desktop1660 {
				}
			}

			&:last-of-type {
				padding: 16px 0px;

				@include desktop1024 {
					// padding: 16px;
				}
			}
		}
	}
}

