@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.table {
	// padding: 0 0 20px;

	thead {
		th {
			border-bottom: 2px solid $color-grey2;
			padding: 16px 0;
			border-right: 2px solid $color-grey2;

			&:last-of-type {
				border-right: none;
			}

			@include desktop1024 {
				padding: 6px 0;
			}
		}
	}

	tbody {
		position: relative;

		td {
			padding: 16px 0px;
			line-height: 24px;

			@include desktop1024 {
				padding: 6px 0px;
			}

			a {
				max-width: 400px;

				@include desktop1660 {
					max-width: initial;
				}
			}

			& > p {
				font-size: inherit;
				font-weight: 700;
			}

			&:nth-child(3) {
				// width: 430px;

				@include desktop1660 {
					width: auto;
				}
			}


			&:last-child {
				// display: flex;
				text-align: center;

				width: auto;
				@include desktop1660 {
				}
			}

			&:last-of-type {
				padding: 16px 0px;

				@include desktop1024 {
					padding: 16px;
				}
			}
		}
	}
}

