@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.success__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 10px;
	width: 100%;

	@include desktop1440 {
		margin: 72px 0 0;
	}

  @include desktop1024 {
		margin: 94px 0 10px;
	}

  @include mobile {
    margin: 56px 0 0;
  }

	p {
		color: $color-grey;
	}
}

.description {
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	padding: 0 48px;

	@include desktop1440 {
		margin-bottom: 74px;
	}

	@include desktop1024 {
		margin-bottom: 86px;
	}

	@include mobile {
		margin-bottom: 50px;
		padding: 0;
		font-size: 14px;
		line-height: 17px;
	}
}

.button {
	width: 100%;
	max-width: 280px;

	@include desktop1440 {
		max-width: 190px;
	}

	@include desktop1024 {
		max-width: 220px;
	}

	@include mobile {
		max-width: 165px;
	}
}
