@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.table {
  width: 100%;
  border-spacing: 0 4px;
  border-collapse: separate;
  background-color: $color-white;
  padding: 0;
  border-radius: 16px;
  box-shadow: -10px 56px 140px 0px #8F9BBA33;
  color: $color-grey;

  thead {
    color: $color-grey4;

    th {
      border-bottom: 2px solid $color-grey2;
      padding: 16px 0;
    }
  }

  tbody {
    td {
      padding: 20px 0;

      &.td_clear {
        padding: 0 !important;
      }

      &:not(.td_clear) {
        border-bottom: 2px solid $color-grey2;
      }

      &.td_open {
        border-top: 1px solid $color-green;

        &:first-child {
          border-left: 1px solid $color-green;
          border-bottom-left-radius: 0;
        }
        &:last-child {
          border-right: 1px solid $color-green;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  th {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    @include desktop1660 {
      font-size: 18px;
    }

    @include desktop1440 {
      font-size: 16px;
    }
  }

  td {
    text-align: center;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;

    @include desktop1660 {
      font-size: 18px;
    }

    @include desktop1440 {
      font-size: 16px;
    }

    span {
      display: block;
    }

    button {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 14px;
    }
  }

  tr {
    text-align: left;
  }
}
