@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";

.storage__container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.storage__head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 34px;
	margin-bottom: 20px;

	@media screen and (max-width: 1218px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
}

.storage__head_buttons {
	display: flex;
	height: 40px;	

	@media screen and (max-width: 1218px) {
		width: 100%;
	}

	@include desktop1440 {
		height: 30px;
	}

	button {
		width: 200px;
		font-size: 20px;

		@include desktop1440 {
			width: 192.5px;
			font-size: 16px;
		}

		@include desktop1024 {
			width: 180px;
		}

		@include mobile {
			padding: 6px 10px;
			width: 100%;
		}

		&:first-child {
			border-radius: 8px 0 0 8px;
		}
		&:last-of-type {
			border-radius: 0 8px 8px 0;
		}
	}
}

.upload {
	position: relative;
	padding: 16px 68px;
	margin-left: 150px;

	@include desktop1440 {
		padding: 14px 40px;
	}

	@include desktop1024 {
		padding: 10px 20px 10px 40px;
	}

	@include mobile {
		margin-left: 0;
		padding: 5px 6.5px 5px 25px;
	}
}

.plus_icon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 18px;
	display: block;

	@include mobile {
		left: 8px;
		height: 12px;
		width: 12px;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		background-color: $color-white;
	}

	&:before {
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&:after {
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.storage__title_block {
	width: auto;
	// min-width: fit-content;
	align-items: center;
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 1218px) {
		width: 100%;
	}	
}

.storage__title {
	font-size: 38px;
	min-width: fit-content;
	@include desktop1440 {
		font-size: 32px;
	}
	
	@include mobile {
		font-size: 18px;
	}
}

.secondary {
	color: $color-grey !important;
	border: none !important;
}

.buttonUpload {
	position: relative;
	width: 300px;
	
	display: flex;
	justify-content: center;
	justify-self: flex-end;
	margin-left: auto;
	height: 50px;
	align-items: center;
	padding: 8px 15px;

	border-radius: 8px;
	background: #00DEA3;

	/* Tab */
	box-shadow: 0px 6px 16px 0px rgba(0, 222, 163, 0.06);
	backdrop-filter: blur(7.5px);

	@include desktop1440 {
		min-width: 190px;
		width: 190px;
		height: 40px;
	}

	.icon {
		position: absolute;
		// margin-right: 30px;
		left: 15px;
		@include desktop1440 {
			// left: 8px;
			// margin-right: 8px;
		}
	}
	
	.buttonTitle {
		// position: absolute;
		// top: 15px;

		color:  #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;

		@include desktop1440 {
			// top: 10px;
			padding-left: 16px;
			font-size: 16px;
		}
	}

	@include desktop1024 {
		display: none;
	}
	@media screen and (max-width: 1218px) {
		position: absolute;
		right: 0px;
	}
}