@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';
@import 'assets/styles/function.scss';

@mixin avatar {
	width: 450px;
	height: 450px;
	border-radius: 100%;
	border: 1px solid $color-grey2;

	@include desktop1440 {
		width: vw(300, 1440);
		height: vw(300, 1440);
	}

	@include desktop1024 {
		width: 250px;
		height: 250px;
	}

	@include mobile {
		width: 100px;
		height: 100px;
	}
}

.wrapper {
	position: relative;
	box-shadow: -10px 56px 140px 0px #8f9bba33;
	background-color: $color-white;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: vw(30) vw(40) vw(55);

	@include desktop1440 {
		gap: 14px;
		padding: vw(15, 1440) vw(30, 1440) vw(30, 1440);
	}

	@include desktop1024 {
		gap: 30px;
		padding: vw(20, 1024) vw(30, 1024) vw(30, 1024);
	}

	@include mobile {
		gap: 10px;
		padding: 15px;
	}

	& > h2 {
		width: 100%;
		line-height: 1;
	}
}

.info {
	grid-area: info;
	height: fit-content;

	width: 100%;
	height: 100%;
	max-width: 648px;
	gap: 20px;

	@include desktop1440 {
		max-width: 470px;
		// padding: 40px 30px 30px;
	}

	@include desktop1024 {
		max-width: 100%;
		margin-bottom: 30px;
		flex-direction: row;
		align-items: flex-start;
		// padding: 45px 20px 20px 120px;
		// gap: 125px;
	}

	@include mobile {
		flex-direction: column;
		align-items: center;
		padding: 0;
		background-color: transparent;
		box-shadow: none;
		margin-bottom: 0;
	}

	@include media-breakpoint-up(sm) {
		// padding: vw(45, 768) vw(20, 768) vw(20, 768) vw(120, 768);
		gap: vw(125, 768);
	}

	@include media-breakpoint-up(lg) {
		padding: vw(40, 1024) vw(30, 1024) vw(30, 1024);
		gap: 25px;
	}

	@include media-breakpoint-up(xxl) {
		padding: vw(40, 1440) vw(30, 1440) vw(30, 1440);
	}

	@include media-breakpoint-up(fhd) {
		padding: vw(40) vw(30) vw(30);
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;

		@include desktop1024 {
			margin-top: 28px;
			gap: 40px;

			.info_item {
				margin-bottom: 10px;
			}
		}

		@include mobile {
			padding: 15px;
			background-color: $color-white;
			box-shadow: -10px 10px 140px 0px #8f9bba33;
			border-radius: 8px;
			gap: 12px;
			margin: 0;

			.info_item {
				margin-bottom: 0;
			}
		}
	}

	&_avatar {
		@include avatar();
	}
}

.info {
	.info_wrapper {
		flex: 1;
	}
}

.info2 {
	grid-area: info2;
	height: fit-content;
	margin-bottom: 22px;

	@include desktop1440 {
		margin-bottom: 20px;
		padding: vw(20, 1440) vw(30, 1440) vw(30, 1440);
	}

	@include desktop1024 {
		margin: 30px 0;
	}

	@include mobile {
		margin: 15px 0;
	}
}

.info3 {
	grid-area: info3;

	@include media-breakpoint-up(xxl) {
		gap: vw(12, 1440);
	}
	@include media-breakpoint-up(fhd) {
		gap: vw(24);
	}
}

.info_item {
	font-weight: 400;
	line-height: 29px;

	width: 100%;

	@include adaptive-font-size(16, 18, 20, 20, 24);

	h4 {
		color: $color-grey;
		font-weight: 500;
		margin-bottom: 12px;

		@include adaptive-font-size(14, 16, 18, 20, 20);

		@include desktop1024 {
			margin-bottom: 25px;
		}

		@include mobile {
			margin-bottom: 0;
		}

		span {
			color: $color-green;
		}
	}
}

.no_avatar {
	background-color: $color-grey2;
	@include avatar();
}
