// Media request mixins MobileFirst
@mixin small_s_mobile {
	@media screen and (max-width: 375px) {
		@content;
	}
}
@mixin small_mobile {
	@media screen and (max-width: 414px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin tablet1024 {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin small_desktop {
	@media screen and (max-width: 912px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin desktop1024 {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin desktop1280 {
	@media screen and (max-width: 1281px) {
		@content;
	}
}

@mixin desktop_lg {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin desktop1440 {
	@media screen and (max-width: 1440px) {
		@content;
	}
}

@mixin desktop1660 {
	@media screen and (max-width: 1660px) {
		@content;
	}
}

@mixin hidden() {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: 0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 4px;

    &:hover {
      background-color: $orange;
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $orange2;
  }
}

@mixin hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
