@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins_fonts.scss';

// Media request mixins MobileFirst
@mixin small_s_mobile {
	@media screen and (max-width: 375px) {
		@content;
	}
}
@mixin small_mobile {
	@media screen and (max-width: 414px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin tablet1024 {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin small_desktop {
	@media screen and (max-width: 912px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin desktop1024 {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin desktop1280 {
	@media screen and (max-width: 1281px) {
		@content;
	}
}

@mixin desktop_lg {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin desktop1440 {
	@media screen and (max-width: 1440px) {
		@content;
	}
}

@mixin desktop1660 {
	@media screen and (max-width: 1660px) {
		@content;
	}
}

@mixin desktop1920 {
	@media screen and (max-width: 1920) {
		@content;
	}
}

@mixin hidden() {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: $scrollbarWidth;
		height: 0;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: $white;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $orange;
		border-radius: 4px;

		&:hover {
			background-color: $orange;
		}
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $orange2;
	}
}

@mixin hideScrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin greenScrollbar {
	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-track {
		border-radius: 4px;
		background-color: #EEE;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: $color-green;
	}
}

@mixin font-size {
	font-size: 20px;

	@include desktop1440 {
		font-size: 16px;
	}

	@include desktop1024 {
		font-size: 18px;
	}

	@include mobile {
		font-size: 14px;
	}
};

@mixin media-breakpoint-up($name, $px: 0) {
	@each $breakpoint-name, $resolution in $breakpoints {
			@if $name == $breakpoint-name {
					@media (min-width: $resolution + $px) {
							@content;
					}
			}
	}
}

@mixin containerLoader {
	display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 50px;
}
