$montserrat: Montserrat;

$color-modal-background-outside: rgba(255, 255, 255, 0.83);
$color-modal-background: rgba(24, 26, 37, 1);

$color-white: #ffffff;
$color-white2: #D1E7DD;
$color-white3: #F5F5F5;

$color-black: #00140E;
$color-black2: #000000;

$color-pink: #F23985;
$color-pink2: #D299FF;

$color-green: #00DEA3;
$color-green2: #00D8A0;
$color-blue:#4659FE ;
$color-blue2: #4659feb3;

$color-grey: #747474;
$color-grey2: #CCCCCC;
$color-grey3: #E4E7ED;
$color-grey4: #323232;

$color-yellow: #FFE60380;

$color-red: #DC3545;
$color-error: #F00;

$warpper-color: #F3F5FF99;

$body-bg: $color-grey;
$body-color: $color-white;

$primary: $color-blue;

$spinner-border-width: 0.063rem;

$header-modal-breakpoint: 791px;

$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1600px,
  fhd: 1920px,
  qhd: 2560px,
  uhd: 3840px
);


// $main-color: 