$montserrat: Montserrat;

$color-modal-background-outside: rgba(0, 20, 14, 0.3);
$color-modal-background: rgba(24, 26, 37, 1);


$color-white: #ffffff;
$color-white2: #D1E7DD;
$color-white3: #F5F5F5;

$color-black: #00140E;

$color-pink: #F23985;
$color-pink2: #D299FF;

$color-green: #00DEA3;
$color-green2: #00D8A0;

$color-grey: #747474;
$color-grey2: #CCCCCC;
$color-grey3: #E4E7ED;
$color-grey4: #323232;

$color-red: #DC3545;

$body-bg: $color-grey;
$body-color: $color-white;

$primary: $color-green;

$spinner-border-width: 0.063rem;

$header-modal-breakpoint: 791px;