@import 'assets/styles/_mixins.scss';

$montserrat: Montserrat;

$color-modal-background-outside: rgba(#00140E, 0.5);
$color-modal-background: rgba(24, 26, 37, 1);


$color-white: #ffffff;
$color-white2: #D1E7DD;
$color-white3: #F5F5F5;

$color-black: #00140E;

$color-pink: #F23985;

$color-green: #00DEA3;
$color-green2: #00D8A0;

$color-grey: #747474;
// $color-grey2: #8B93A0;
// $color-grey3: #151515;
// $color-grey4: #303241;
// $color-grey5: #656565;
// $color-grey6: #2C2C2C;
// $color-grey7: #858585;
// $color-grey8: #444947;
// $color-grey9: #ABB5BE;
// $color-grey10: #DEE2E6;
// $color-brown: #BF6746;
$color-red: #DC3545;

$body-bg: $color-grey;
$body-color: $color-white;

$primary: $color-green;

$spinner-border-width: 0.063rem;

$header-modal-breakpoint: 791px;