@import "assets/styles/variables.scss";
@import "assets/styles/_mixins.scss";
@import "assets/styles/function.scss";

@mixin font_size {
	font-size: 20px;

	@include desktop1024 {
		font-size: 16px;
	}

	@include mobile {
		font-size: 13px;
	}
}

.header {
	grid-area: header;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 40px;
	margin-top: auto;
	padding: 0 15px 0 60px;

	@include desktop1024 {
		font-size: 30px;
	}

	@include media-breakpoint-up(sm) {
		padding: 0 15px 0 110px;
	}

  @include media-breakpoint-up(lg) {
		padding: 0 vw(30, 1024);
	}

	@include media-breakpoint-up(xxl) {
		padding: 0 vw(40, 1440);
	}

	@include media-breakpoint-up(fhd) {
		padding: 0 vw(40);
	}

	& > span {
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@include desktop1440 {
			font-size: 14px;
		}

		@include desktop1024 {
			font-size: 14px;
		}

		@include mobile {
			display: none;
		}
	}
}

.input_wrapper {
	position: relative;
	width: 100%;
	max-width: 1090px;
	margin-right: auto;

	@include desktop1440 {
		max-width: 600px;
	}

	@include desktop1024 {
		max-width: 510px;
	}

	@include mobile {
		max-width: 170px;
	}
}

.input_wrapper_input {
	height: 50px;
	transition: all 0.2s;

	@include desktop1440 {
		height: 50px !important;
	}

	@include desktop1024 {
		height: 40px !important;
	}

	@include mobile {
		height: 30px !important;
	}
}

.input_wrapper_input_filled {
	border: 1px solid transparent !important;
	border-bottom: 1px solid $color-grey !important;
	border-radius: 8px 8px 0 0 !important;
	transition: all 0.2s;
}

.search {
	&_result {
		position: absolute;
		display: flex;
		flex-direction: column;
		bottom: -100%;
		top: 100%;
		width: 100%;
		height: fit-content;
		background-color: $color-white;
		border-radius: 0 0 8px 8px;
		box-shadow: 0px 5px 5px 0px #00000026;
		padding: 20px;
		gap: 15px;
		z-index: 1;

		@include mobile {
			padding: 14px;
		}
	}

	&_list {
		display: flex;
		flex-direction: column;
		list-style-type: none;

		& > li {
			color: $color-grey;
			margin-bottom: 4px;

			@include font_size();

			@include tablet1024 {
				margin-bottom: 10px;
			}

			@include mobile {
				margin-bottom: 5px;
			}
		}
	}

	&_link {
		align-self: end;
		text-align: center;
		cursor: pointer;

		@include font_size();

		@include mobile {
			align-self: center;
			padding: 0 20px;
		}
	}
}

.button {
	position: relative;
	background-color: $color-white;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	margin-left: 20px;

	&:first-of-type {
		margin-left: 10px;
	}

	@include desktop1024 {
		width: 40px;
		height: 40px;
	}

	@include mobile {
		width: 30px;
		height: 30px;
		margin-left: 10px;

		img {
			width: 16px;
			height: 16px;
		}
	}

	&.active {
		&:before {
			content: "";
			position: absolute;
			top: 34%;
			right: 30%;
			background-color: $color-pink;
			width: 6px;
			height: 6px;
			border-radius: 50%;
		}
	}
}

.selected {
	text-decoration: underline;
	color: $color-green;
}
