@import 'assets/styles/variables.scss';
@import 'assets/styles/_mixins.scss';

.storageFile__data {
	grid-area: data;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 30px;

	@include media-breakpoint-up(xxl) {
		margin-bottom: 0;
	}
}

.storageFile__data_head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}

.storageFile__data_btn {
	width: 100%;
	height: fit-content;
	max-width: 300px;
}

.storageFile__wrapper {
	position: relative;
	padding: 10px 15px;
	background-color: $color-white;
	box-shadow: -10px 56px 140px 0px #8F9BBA33;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 100%;

	@include media-breakpoint-up(lg) {
		padding: 30px;
	}

	@include media-breakpoint-up(xl) {
		padding: 20px;
	}

	@include media-breakpoint-up(fhd) {
		padding: 44px 40px;
	}

	& > h2 {
		margin-top: auto;
	}
}

.storageFile__control_buttons {
	display: flex;
	border-radius: 8px;
	border: 1px solid $color-green;
	width: fit-content;
	overflow: hidden;

	.button {
		border-radius: 0;
		border: 1px solid transparent;
	}
}

.graph_info {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;

	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid $color-green;
		border-radius: 8px;
		padding: 8px;
		gap: 20px;
		min-width: 150px;
		flex: 1;

		p {
			color: $color-grey;
			font-weight: 500;
			max-width: 118px;
			@include adaptive-font-size(14, 14, 16, 16, 16);
		}

		span {
			color: $color-black;
			@include font-16();
		}

		&:last-of-type {
			width: 100%;

			@include media-breakpoint-up(md) {
				flex: 2;
			}

			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis; 
			}
		}
	}
}
